<div class="po-page-header">
  <h1 class="po-page-header-title">Device Management</h1>
</div>

<div class="po-row searchBar">
  <div class="po-md-6">
      <div class="po-row searchBar">
        <po-input
          class="po-md-6"
          name="txtSearch"
          p-label=""
          p-icon="po-icon-search"
          (p-change-model)="searchItems($event)"
          p-placeholder="Search">
        </po-input>
        <span>by</span>
        <po-combo
          class="po-md-3"
          name="cbbSearchBy"
          p-label=""
          (p-change)="cbbSearchBy_change($event)"
          [p-options]="searchBy">
        </po-combo>
      </div>
  </div>
  <div class="po-md-6">
      <po-button
        (p-click)="btnNewDevice_onClick()"
        p-icon="po-icon-plus-circle"
        p-label="New Device"
        class="floatRight"
        p-type="primary">
      </po-button>
  </div>
</div>
<po-table
  [p-actions]="actions"
  [p-columns]="columns"
  [p-hide-columns-manager]="true"
  [p-sort]="true"
  [p-items]="listDevices">
</po-table>

<po-modal
  #modal
  p-title="Confirmation"
  [p-primary-action]="primaryAction"
  [p-secondary-action]="secondaryAction"
  >
  <div class="po-row">
    <span>Are you sure that you want to remove the selected item?</span>
  </div>
  <div class="po-row">
    <div class="po-md-2">ID</div>
    <div class="po-md-2 text-bold">{{ selectedItem?.id }}</div>
  </div>
  <div class="po-row">
    <div class="po-md-2">Category</div>
    <div class="po-md-2 text-bold">{{ selectedItem?.name == '' ? '-' : selectedItem?.name }}</div>
  </div>
  <div class="po-row">
    <div class="po-md-2">Color</div>
    <div class="po-md-2 text-bold">{{ selectedItem?.color }}</div>
  </div>
  <div class="po-row">
    <div class="po-md-2">Part Number</div>
    <div class="po-md-2 text-bold">{{ selectedItem?.partNumber }}</div>
  </div>
</po-modal>